$orange: #ff7818;
$green: #378100;
$blue: #022e61;
$lightblue:#70d1ff;
$yellow:#ffe271;

.footer {
    padding: 125px 0 30px 0;
    background-image: url(/img/footer_bg.jpg);
    background-position: 0 0;
    background-size: cover;
    
}
.footer-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px;
    color: #fff;
}
.footer-subtitle {
    color: $yellow;
    font-family: "Rubik-Regular";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    max-width: 430px;
    margin: auto;
    margin-bottom: 25px;
}
.footer-conditions {
    color: white;
    font-family: "Rubik-Regular";
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    max-width: 630px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}
.footer-register__title {
    font-family: "roundsblack";
    font-weight: 400;
    line-height: 32px;
    color: $yellow;
    font-size: 38px;
    max-width: 290px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer-register__span {
    color: $green;
    font-size: 24px;
}
.button-1.footer-btn {
    color: white;
    font-family: "Rubik-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 15px 50px;
    max-width: 235px;
    margin: auto;
    display: block;
}
.footer-call__block {
    margin-top: 30px;
}
.footer-call-title {
    color: $yellow;
    font-family: "Rubik-Bold";
    font-size: 26px;
    font-weight: 900;
    line-height: 35px;
    text-align: center;
}
.footer-call__number {
    color: white;
    font-family: "roundsblack";
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.footer-socials__block {
    margin-top: 40px;
}
.footer-socials__logo {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 25px;
}
.footer-socials__descr {
    color: white;
    font-family: "Rubik-Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    display: inline-block;
    vertical-align: bottom;
}
.footer-socials-text {
    color: white;
    font-family: "Rubik-Regular";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
}
.footer-socials-link {
    display: inline-block;
    vertical-align: bottom;
    width: 40px;
    height: 40px;
}
.footer-socials-vk {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.footer-socials__left {
    margin-bottom: 30px;
    text-align: center;
}

.find {
    background: url(/img/find_bg.png) 70% 0 no-repeat;
    background-color: transparent;
    padding-top: 100px;
    padding-bottom: 80px;
    position: relative;
    z-index: 999;
    margin-bottom: -70px;
    background-size: cover;
}
.find-left {
    margin-bottom: 40px;
    text-align: center;
}
.find-title {
    color: #ff7818;
    font-family: "roundsblack";
    font-weight: 400;
    font-size: 38px;
    line-height: 36px;
    margin-bottom: 45px;
}
.find-title__span {
    display: block;
    font-size: 24px;
    line-height: 30px;
}
.find-metro {
    margin-bottom: 20px;
}
.find-metro__title {
    color: #ff7818;
    font-size: 20px;
    line-height: 20px;
    font-family: "Rubik-Bold";
}
.find-metro__text {
    font-family: "Rubik-Bold";
    color: #000;
    font-size: 16px;
    line-height: 16px;
}
.find-addr {
    max-width: 330px;
    margin: auto;
    text-align: center;
}
.find-addr__text {
    color: #ff7818;
    font-family: "Rubik-Bold";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.about {
    background: url(/img/about_bg.png) 0 0 no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 235px;
//    margin-top: -340px;
}
.about-wrap {
    max-width: 830px;
    text-align: center;
    margin: auto;
}

.about-question {
    color: #ff7818;
    font-family: "roundsblack";
    font-size: 34px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.about-answer {
    color: #378100;
    font-family: "roundsblack";
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 40px;
}
.about-note {
    color: #ff7818;
    font-family: "roundsblack";
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    margin-bottom: 10px;
}
.about-concurents {
    color: #ff7818;
    font-family: "Rubik-Regular";
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 45px;
}
.about-saytruth {
    color: #378100;
    font-family: "Rubik-Regular";
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
}
.about-feedback {
    color: black;
    font-family: "Rubik-Regular";
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    span {
        font-weight: 700;
        text-transform: uppercase;
        &:nth-child(2) {
            text-transform: none;
        }
    }
    margin-bottom: 25px;
}
.about-truth {
    color: #ff7818;
    font-family: "Rubik-Regular";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 40px;
}
.about-watch {
    color: #6eb400;
    font-family: "roundsblack";
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
}
.about-item {
    max-width: 250px;
    width: 100%;
    margin: auto;
    height: 194px;
    border: 3px solid #ff7818;
    -webkit-border-radius: 50px; 
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
    -webkit-transform: rotate(0.000001deg); 
    overflow: hidden;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
#dgslider {
    max-width: 850px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
.find-right {
    height: 300px;
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
    .footer {
        background-image: url(/img/footer_bg.jpg);
        background-position: 50% 0;
    }
    .footer-socials__left {
        float: left;
        margin-bottom: 0;
    }
    .footer-socials__right {
        float: right;
        padding-top: 15px;
    }
}

@media only screen and (min-width : 768px) {
    .footer-socials__left {
        text-align: left;
    }
}
@media only screen and (min-width : 992px) {
    .footer-title {
        font-size: 42px;
    }
    .footer-call-title {
        line-height: 45px;
    }
    
    .find-left {
        margin-bottom: 0px;
        text-align: left;
    }
    .find {
        margin-bottom: -60px;
    }
    .footer-container {
        width: 960px !important;
    }
    .about-item {
        max-width: 264px;
    }
    .find-right {
        height: 700px;
    }
   .about-concurents {
        padding-left: 165px;
        padding-right: 165px;
    }
    .about-truth {
        padding-left: 155px;
        padding-right: 155px; 
    }
}

@media only screen and (min-width : 1248px) {
}

