$orange: #ff7818;
$green: #378100;
$blue: #022e61;
$lightblue:#70d1ff;
$yellow:#ffe271;
h2{
	color:$blue;
}

.db-primer{
	color:$orange;
	border: 3px solid $orange;
}
.db-primer:hover{
	background: $orange;
	color:white;

}
.db-form{
	
	max-width: 660px;
	margin: 0 auto;
	text-align: center;
	padding: 160px 0;
	position: relative;
	.db-crest{
		position: absolute;
		right: 30px;
		top: 85px;
		cursor:pointer;
	}
	p{
		margin-top: -20px;
		color: white;
		font-size: 20px;
		font-family: "Rubik-Bold";
		padding-bottom: 27px;
	}
	input[type="submit"]{
		background: none;
		color: white;
		border: 3px solid white;
		font-size: 20px;
		margin-top: 15px;
	}
	input[type="text"]{
		
		border: 3px solid white;
		font-size: 20px;
		font-family: "Rubik-Regular";
		padding: 6px 3px;
		text-align: center;
		margin-top: 1px;
	}
	input[type="text"]::-webkit-input-placeholder { color: #70d1ff;}    
	input[type="text"]::-moz-placeholder { color: #70d1ff;}
}
.db-form-1{
	background: url("../img/form1.png") no-repeat top center;
	input[type="submit"]{
		padding: 13px 71px !important;
	}
	input[type="text"]{
		color: #70d1ff;
	}

}
.db-form-2{
	background: url("../img/form1.png") no-repeat top center;
	input[type="submit"]{
		padding: 13px 64px !important;
	}
	input[type="text"]{
		color: #70d1ff;
	}
}
.db-form-3{
	background: url("../img/form1.png") no-repeat top center;
	input[type="submit"]{
		padding: 13px 52px !important;
	}
	input[type="text"]{
		color: #70d1ff;
	}
}
.db-form-4{
	background: url("../img/form2.png") no-repeat top center;
	input[type="submit"]{
		padding: 13px 33px !important;
	}
	input[type="text"]{
		color: #f9770c;
	}
	input[type="text"]::-webkit-input-placeholder { color: #f9770c !important; }    
	input[type="text"]::-moz-placeholder { color: #f9770c !important; }
}
.db-form-5{
	background: url("../img/form2.png") no-repeat top center;
	input[type="submit"]{
		padding: 13px 52px !important;
	}
	input[type="text"]{
		color: #f9770c;
	}
	input[type="text"]::-webkit-input-placeholder { color: #f9770c !important; }    
	input[type="text"]::-moz-placeholder { color: #f9770c !important; }
}
.db-form-6{

	span{
		color:$yellow;
		font-family: "Rubik-Bold" !important;
	}
	p{
		font-size: 20px !important;
		font-family: "Rubik-Regular" !important;
		line-height: 28px;
	}
}

#js-form1, #js-form2, #js-form3, #js-form4, #js-form5, #js-form6, #js-form7, #js-form8, #js-form9, #js-form10, #js-form11{
	z-index: 1000;
	position: fixed;
	top:0;
	left: 0;
	text-align: center;
	display: none;
}

body{
	overflow-x:hidden; 
}

	
.section_for_me-view{    
	display: block;	    
    padding: 150px 0 150px 0;
    text-align: center;
    font-family: "roundsblack"; 	
    transform:none;
    // overflow: hidden;
    position: relative;
    margin: 0px 0 100px 0;  
    z-index: 99;  
}

.section_for_me-view:before{	
	content: "";
	display: block;
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    transform:none;      
    background-image: url("../img/db-for3.png");
    background-position:center bottom 30%;//15
    background-attachment: fixed;    
    background-repeat: no-repeat;  
    background-size: cover;
}
.dbskewY:after{
	content: "";
	position: absolute;
	// top: 52px;
	top: 65px;
	left: 0;
	width: 100%;
	height: 27px;
	-webkit-box-shadow: inset 0px 11px 17px -6px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0px 11px 17px -6px rgba(0,0,0,0.7);
	-ms-box-shadow: inset 0px 11px 17px -6px rgba(0,0,0,0.7);
	-o-box-shadow: inset 0px 11px 17px -6px rgba(0,0,0,0.7);
	box-shadow: inset 0px 11px 17px -6px rgba(0,0,0,0.7);
	z-index: 100;
	-o-transform:skewY(-3deg);
	-webkit-transform:skewY(-3deg);
	-moz-transform:skewY(-3deg);
	-ms-transform:skewY(-3deg);
	transform:skewY(-3deg);
	z-index: -1;
}
.dbskewY:before{
	content: "";
	position: absolute;
	// bottom: 45px;
	bottom: 33px;
	left: 0;
	width: 100%;
	height: 17px;
	-webkit-box-shadow: inset 0px -11px 10px -5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px -11px 10px -5px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: inset 0px -11px 10px -5px rgba(0, 0, 0, 0.4);
	-o-box-shadow: inset 0px -11px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px -11px 10px -5px rgba(0, 0, 0, 0.4);
	z-index: 100;		
	-o-transform:skewY(-3deg);
	-webkit-transform:skewY(-3deg);
	-moz-transform:skewY(-3deg);
	-ms-transform:skewY(-3deg);
	transform:skewY(-3deg);
	z-index: -1;
}











.db-for-me-block{	
	position: relative;
	.db-one-p{
		font-size: 28px;
		line-height: 46px;
		color: white;
		padding-bottom: 23px;
		.db-one-span{
			color: #043062;
			font-size: 25px;
			line-height: 56px;
		}
		.db-two-span{
			color: #043062;
			line-height: 30px;
		}
	}
	.db-two-p{
		line-height: 46px;
		color: white;
		font-size: 20px;
		span{
			color: #ffe271;
			font-size: 30px;
		}
	}
}

.mask{
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 999;
	display:none;
	cursor:pointer;
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	
	.db-form{
		width: 660px;
		margin: 0 auto;
		text-align: center;
		padding: 160px 0;
		position: relative;
		.db-crest{
			position: absolute;
			right: 60px;
			top: 33px;
			cursor:pointer;
		}
		p{
			margin-top: -20px;
			color: white;
			font-size: 20px;
			font-family: "Rubik-Bold";
			padding-bottom: 27px;
		}
		input[type="submit"]{
			background: none;
			color: white;
			border: 3px solid white;
			font-size: 20px;
			margin-top: 15px;
		}
		input[type="text"]{

			border: 3px solid white;
			font-size: 20px;
			font-family: "Rubik-Regular";
			padding: 6px 3px;
			text-align: center;
			margin-top: 1px;
		}
		input[type="text"]::-webkit-input-placeholder { color: #70d1ff;}    
		input[type="text"]::-moz-placeholder { color: #70d1ff;}
	}


	.db-for-me-block{		
		.db-one-p{
			font-size: 28px;		
			.db-one-span{			
				font-size: 40px;
				
			}		
		}
		.db-two-p{		
			span{			
				font-size: 40px;
			}
		}
	}
}

@media only screen and (min-width : 992px) {
	.db-for-me-block:before{
	content:"";
	background: url("../img/db-woman.png")no-repeat top left;
	position: absolute;
	top: -95px;
	left: -113px;
	width:498px;
	height: 650px;
}
.db-for-me-block{
	.db-one-p{
		font-size: 38px;
		.db-one-span{
			font-size: 50px;
		}
	}
	.db-two-p{
		font-size: 30px;
		span{
			font-size: 50px;
		}
	}
}

}

@media only screen and (min-width : 1248px) {
	.section_for_me-view{ 			  
		    padding: 200px 0 150px 0;	
		    height: 800px;	   
		}
}

