/* line 7, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer {
  padding: 125px 0 30px 0;
  background-image: url(/img/footer_bg.jpg);
  background-position: 0 0;
  background-size: cover; }

/* line 14, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 35px;
  color: #fff; }

/* line 20, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-subtitle {
  color: #ffe271;
  font-family: "Rubik-Regular";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  max-width: 430px;
  margin: auto;
  margin-bottom: 25px; }

/* line 31, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-conditions {
  color: white;
  font-family: "Rubik-Regular";
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  max-width: 630px;
  text-align: center;
  margin: auto;
  margin-bottom: 25px; }

/* line 42, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-register__title {
  font-family: "roundsblack";
  font-weight: 400;
  line-height: 32px;
  color: #ffe271;
  font-size: 38px;
  max-width: 290px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 25px; }

/* line 53, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-register__span {
  color: #378100;
  font-size: 24px; }

/* line 57, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.button-1.footer-btn {
  color: white;
  font-family: "Rubik-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 15px 50px;
  max-width: 235px;
  margin: auto;
  display: block; }

/* line 71, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-call__block {
  margin-top: 30px; }

/* line 74, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-call-title {
  color: #ffe271;
  font-family: "Rubik-Bold";
  font-size: 26px;
  font-weight: 900;
  line-height: 35px;
  text-align: center; }

/* line 82, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-call__number {
  color: white;
  font-family: "roundsblack";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  text-align: center; }

/* line 90, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-socials__block {
  margin-top: 40px; }

/* line 93, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-socials__logo {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 25px; }

/* line 98, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-socials__descr {
  color: white;
  font-family: "Rubik-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  display: inline-block;
  vertical-align: bottom; }

/* line 107, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-socials-text {
  color: white;
  font-family: "Rubik-Regular";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 20px; }

/* line 117, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-socials-link {
  display: inline-block;
  vertical-align: bottom;
  width: 40px;
  height: 40px; }

/* line 123, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-socials-vk {
  display: block;
  max-width: 100%;
  max-height: 100%; }

/* line 128, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.footer-socials__left {
  margin-bottom: 30px;
  text-align: center; }

/* line 133, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.find {
  background: url(/img/find_bg.png) 70% 0 no-repeat;
  background-color: transparent;
  padding-top: 100px;
  padding-bottom: 80px;
  position: relative;
  z-index: 999;
  margin-bottom: -70px;
  background-size: cover; }

/* line 143, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.find-left {
  margin-bottom: 40px;
  text-align: center; }

/* line 147, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.find-title {
  color: #ff7818;
  font-family: "roundsblack";
  font-weight: 400;
  font-size: 38px;
  line-height: 36px;
  margin-bottom: 45px; }

/* line 155, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.find-title__span {
  display: block;
  font-size: 24px;
  line-height: 30px; }

/* line 160, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.find-metro {
  margin-bottom: 20px; }

/* line 163, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.find-metro__title {
  color: #ff7818;
  font-size: 20px;
  line-height: 20px;
  font-family: "Rubik-Bold"; }

/* line 169, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.find-metro__text {
  font-family: "Rubik-Bold";
  color: #000;
  font-size: 16px;
  line-height: 16px; }

/* line 175, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.find-addr {
  max-width: 330px;
  margin: auto;
  text-align: center; }

/* line 180, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.find-addr__text {
  color: #ff7818;
  font-family: "Rubik-Bold";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; }

/* line 188, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about {
  background: url(/img/about_bg.png) 0 0 no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 235px; }

/* line 195, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about-wrap {
  max-width: 830px;
  text-align: center;
  margin: auto; }

/* line 201, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about-question {
  color: #ff7818;
  font-family: "roundsblack";
  font-size: 34px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 25px; }

/* line 210, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about-answer {
  color: #378100;
  font-family: "roundsblack";
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 40px; }

/* line 218, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about-note {
  color: #ff7818;
  font-family: "roundsblack";
  font-size: 32px;
  font-weight: 400;
  line-height: 51px;
  margin-bottom: 10px; }

/* line 226, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about-concurents {
  color: #ff7818;
  font-family: "Rubik-Regular";
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 45px; }

/* line 234, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about-saytruth {
  color: #378100;
  font-family: "Rubik-Regular";
  font-size: 24px;
  font-weight: 700;
  line-height: 42px; }

/* line 241, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about-feedback {
  color: black;
  font-family: "Rubik-Regular";
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 25px; }
  /* line 247, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .about-feedback span {
    font-weight: 700;
    text-transform: uppercase; }
    /* line 250, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
    .about-feedback span:nth-child(2) {
      text-transform: none; }

/* line 256, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about-truth {
  color: #ff7818;
  font-family: "Rubik-Regular";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 40px; }

/* line 264, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about-watch {
  color: #6eb400;
  font-family: "roundsblack";
  font-size: 26px;
  font-weight: 400;
  line-height: 33px; }

/* line 271, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
.about-item {
  max-width: 250px;
  width: 100%;
  margin: auto;
  height: 194px;
  border: 3px solid #ff7818;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0deg);
  overflow: hidden; }
  /* line 283, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .about-item img {
    max-width: 100%;
    max-height: 100%; }

/* line 288, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
#dgslider {
  max-width: 850px;
  width: 100%;
  margin: auto;
  margin-top: 50px; }

@media only screen and (min-width: 480px) {
  /* line 298, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .footer {
    background-image: url(/img/footer_bg.jpg);
    background-position: 50% 0; }
  /* line 302, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .footer-socials__left {
    float: left;
    margin-bottom: 0; }
  /* line 306, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .footer-socials__right {
    float: right;
    padding-top: 15px; } }

@media only screen and (min-width: 768px) {
  /* line 313, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .footer-socials__left {
    text-align: left; } }

@media only screen and (min-width: 992px) {
  /* line 318, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .footer-title {
    font-size: 42px; }
  /* line 321, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .footer-call-title {
    line-height: 45px; }
  /* line 325, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .find-left {
    margin-bottom: 0px;
    text-align: left; }
  /* line 329, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .find {
    margin-bottom: -60px; }
  /* line 332, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .footer-container {
    width: 960px !important; }
  /* line 335, C:/OpenServer/domains/vinny.loc/css/style-dg.scss */
  .about-item {
    max-width: 264px; } }

/*# sourceMappingURL=style-dg.css.map */