/* line 6, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
h2 {
  color: #022e61; }

/* line 10, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
.db-primer {
  color: #ff7818;
  border: 3px solid #ff7818; }

/* line 14, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
.db-primer:hover {
  background: #ff7818;
  color: white; }

/* line 19, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
.db-form {
  width: 660px;
  margin: 0 auto;
  text-align: center;
  padding: 160px 0;
  position: relative; }
  /* line 26, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form .db-crest {
    position: absolute;
    right: 60px;
    top: 33px;
    cursor: pointer; }
  /* line 32, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form p {
    margin-top: -20px;
    color: white;
    font-size: 20px;
    font-family: "Rubik-Bold";
    padding-bottom: 27px; }
  /* line 39, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form input[type="submit"] {
    background: none;
    color: white;
    border: 3px solid white;
    font-size: 20px;
    margin-top: 15px; }
  /* line 46, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form input[type="text"] {
    border: 3px solid white;
    font-size: 20px;
    font-family: "Rubik-Regular";
    padding: 6px 3px;
    text-align: center;
    margin-top: 1px; }
  /* line 55, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form input[type="text"]::-webkit-input-placeholder {
    color: #70d1ff; }
  /* line 56, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form input[type="text"]::-moz-placeholder {
    color: #70d1ff; }

/* line 58, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
.db-form-1 {
  background: url("../img/form1.png") no-repeat top center; }
  /* line 60, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-1 input[type="submit"] {
    padding: 13px 71px !important; }
  /* line 63, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-1 input[type="text"] {
    color: #70d1ff; }

/* line 68, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
.db-form-2 {
  background: url("../img/form1.png") no-repeat top center; }
  /* line 70, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-2 input[type="submit"] {
    padding: 13px 64px !important; }
  /* line 73, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-2 input[type="text"] {
    color: #70d1ff; }

/* line 77, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
.db-form-3 {
  background: url("../img/form1.png") no-repeat top center; }
  /* line 79, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-3 input[type="submit"] {
    padding: 13px 52px !important; }
  /* line 82, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-3 input[type="text"] {
    color: #70d1ff; }

/* line 86, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
.db-form-4 {
  background: url("../img/form2.png") no-repeat top center; }
  /* line 88, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-4 input[type="submit"] {
    padding: 13px 33px !important; }
  /* line 91, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-4 input[type="text"] {
    color: #f9770c; }
  /* line 94, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-4 input[type="text"]::-webkit-input-placeholder {
    color: #f9770c; }
  /* line 95, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-4 input[type="text"]::-moz-placeholder {
    color: #f9770c; }

/* line 97, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
.db-form-5 {
  background: url("../img/form2.png") no-repeat top center; }
  /* line 99, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-5 input[type="submit"] {
    padding: 13px 52px !important; }
  /* line 102, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-5 input[type="text"] {
    color: #f9770c; }
  /* line 105, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-5 input[type="text"]::-webkit-input-placeholder {
    color: #f9770c; }
  /* line 106, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-5 input[type="text"]::-moz-placeholder {
    color: #f9770c; }

/* line 108, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
.db-form-6 {
  width: 600px;
  background: white;
  padding-top: 20px;
  position: relative; }
  /* line 113, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-6 p {
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: "Rubik-Bold";
    padding-bottom: 27px; }
  /* line 120, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
  .db-form-6 .db-crest {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; }

/* line 127, C:/OpenServer/domains/vinny.loc/css/style-db.scss */
#js-form1, #js-form2, #js-form3, #js-form4, #js-form5, #js-form6, #js-form7 {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: none; }

/*# sourceMappingURL=style-db.css.map */